h1 {
  color: #5179ba;
}
body {
  background-color: lightgray;
}

.list-item {
  font-family:monospace;
}
#css-item{
  color:#5179ba;
}

#goal-list{
  border-style: solid;
  border-color: #5179ba;
  width: 20%;
}

#picture {
  height: 75%;
  width: 75%;
  float: top;
  float: right;
}

p {
  text-align: center;
}
